@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-size: 120%;
}

body {
  text-align: center;
  background-color: rgb(240, 238, 235);
}
header {
  background-color: royalblue;
  color: white;
}
header:hover {
  color: pink;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 400px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: salmon;
  color: white;
}
.card:hover {
  opacity: 0.5;
}
a {
  text-decoration: none;
}
